<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="about" routerLinkActive="active">O RentAll</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="addItem" routerLinkActive="active">Dodaj przedmiot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="torentItem" routerLinkActive="active">Wypozycz</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="rentedItem" routerLinkActive="active">Oddaj</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="!authService.user" routerLink="login" routerLinkActive="active">Zaloguj</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="authService.user" (click)="logout()">Wyloguj</a>
  </li>
</ul>
<router-outlet></router-outlet>
